[submodule "ext/SDL"]
	path = ext/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "ext/SDL_image"]
	path = ext/SDL_image
	url = https://github.com/SDL-mirror/SDL_image.git
[submodule "ext/SDL_ttf"]
	path = ext/SDL_ttf
	url = https://github.com/SDL-mirror/SDL_ttf.git
[submodule "ext/SDL_mixer"]
	path = ext/SDL_mixer
	url = https://github.com/SDL-mirror/SDL_mixer.git
